In [16]:
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [23]:
df = pd.read_csv("balance-scale.csv")
#df = df.loc[df['weight']>10, :]
#df1 = df[['%Color', 'size']]
df

    %class name  left-weight  left-distance  right-weight  right-distance
0             B            1              1             1               1
1             R            1              1             1               2
2             R            1              1             1               3
3             R            1              1             1               4
4             R            1              1             1               5
..          ...          ...            ...           ...             ...
620           L            5              5             5               1
621           L            5              5             5               2
622           L            5              5             5               3
623           L            5              5             5               4
624           B            5              5             5               5

[625 rows x 5 columns]

In [18]:
#G = nx.Graph()
#G = nx.from_pandas_edgelist(df1, '%Color', 'size')

In [19]:
#nx.draw(G, with_labels=True)